[Desktop Entry]
Encoding=UTF-8
Name=GoGui
GenericName=Go Game GUI
Exec=gogui -xml %f
Icon=gogui.png
Terminal=false
Type=Application
MimeType=application/x-go+xml
NoDisplay=true
