[Desktop Entry]
Encoding=UTF-8
Name=GoGui
GenericName=Go Game GUI
Comment=Graphical user interface for the board game Go
Exec=gogui %f
Icon=gogui.png
Terminal=false
Type=Application
Categories=Java;Application;Game;BoardGame;
MimeType=application/x-go-sgf
# DocPath will be added by install.sh
