[Desktop Entry]
Encoding=UTF-8
Name=GoGui
GenericName=Go Game GUI
Exec=gogui -xml %f
Terminal=false
Type=Application
MimeType=application/x-go+xml
NoDisplay=true
