[Desktop Entry]
Encoding=UTF-8
Name=GoGui - GNU Go
Comment=Go program GNU Go running in GoGui
Exec=gogui -program 'gnugo --mode gtp' %f
TryExec=gnugo
Icon=gogui-gnugo.png
Terminal=false
Type=Application
Categories=Application;Game;BoardGame
MimeType=application/x-go-sgf
