[Desktop Entry]
Encoding=UTF-8
Name=GoGui
Comment=Graphical user interface to Go programs
Exec=gogui
Icon=gogui.png
Terminal=false
Type=Application
Categories=Application;Game;BoardGame;
MimeType=application/x-go-sgf;
